@font-face {
    font-family: contract-icon;
    src: url("contract-icon.eot");src: url("contract-icon.eot?4d63d506#iefix") format("embedded-opentype"),
             url("contract-icon.woff2?4d63d506") format("woff2"),
             url("contract-icon.woff?4d63d506") format("woff"),
             url("contract-icon.ttf?4d63d506") format("truetype"),
             url("contract-icon.svg?4d63d506#contract-icon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon"], [class*=" icon"] {
    font-family: 'contract-icon' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
}


.icon-api-manage::before {
    content: "\ea01";
}

.icon-arrow::before {
    content: "\ea02";
}

.icon-asset::before {
    content: "\ea03";
}

.icon-bank-card::before {
    content: "\ea04";
}

.icon-buy-rival::before {
    content: "\ea05";
}

.icon-calander::before {
    content: "\ea06";
}

.icon-calculator::before {
    content: "\ea07";
}

.icon-carousel-arrow::before {
    content: "\ea08";
}

.icon-chart-screen::before {
    content: "\ea09";
}

.icon-chart-setting::before {
    content: "\ea0a";
}

.icon-chart-study::before {
    content: "\ea0b";
}

.icon-checked-round::before {
    content: "\ea0c";
}

.icon-checked::before {
    content: "\ea0d";
}

.icon-coingecko::before {
    content: "\ea0e";
}

.icon-copy-link::before {
    content: "\ea0f";
}

.icon-cutdown-close::before {
    content: "\ea10";
}

.icon-data-icon-gray::before {
    content: "\ea11";
}

.icon-data-icon::before {
    content: "\ea12";
}

.icon-dentity-authentication::before {
    content: "\ea13";
}

.icon-download::before {
    content: "\ea14";
}

.icon-drag::before {
    content: "\ea15";
}

.icon-edit::before {
    content: "\ea16";
}

.icon-error::before {
    content: "\ea17";
}

.icon-exit::before {
    content: "\ea18";
}

.icon-facebook::before {
    content: "\ea19";
}

.icon-flash-close::before {
    content: "\ea1a";
}

.icon-go-down::before {
    content: "\ea1b";
}

.icon-go-up::before {
    content: "\ea1c";
}

.icon-home-android::before {
    content: "\ea1d";
}

.icon-home-banner-arrow::before {
    content: "\ea1e";
}

.icon-home-download-back::before {
    content: "\ea1f";
}

.icon-home-download::before {
    content: "\ea20";
}

.icon-home-go-exchange::before {
    content: "\ea21";
}

.icon-home-macOS::before {
    content: "\ea22";
}

.icon-home-notice::before {
    content: "\ea23";
}

.icon-home-windows::before {
    content: "\ea24";
}

.icon-hot-tag::before {
    content: "\ea25";
}

.icon-huobi-chat::before {
    content: "\ea26";
}

.icon-info-close::before {
    content: "\ea27";
}

.icon-instagram::before {
    content: "\ea28";
}

.icon-invisible::before {
    content: "\ea29";
}

.icon-invitation-code::before {
    content: "\ea2a";
}

.icon-list-menu::before {
    content: "\ea2b";
}

.icon-logo::before {
    content: "\ea2c";
}

.icon-medium::before {
    content: "\ea2d";
}

.icon-microblog::before {
    content: "\ea2e";
}

.icon-my-data::before {
    content: "\ea2f";
}

.icon-new-account::before {
    content: "\ea30";
}

.icon-new-buy::before {
    content: "\ea31";
}

.icon-new-calculator::before {
    content: "\ea32";
}

.icon-new-close::before {
    content: "\ea33";
}

.icon-new-info::before {
    content: "\ea34";
}

.icon-new-notice::before {
    content: "\ea35";
}

.icon-new-rank::before {
    content: "\ea36";
}

.icon-new-rate::before {
    content: "\ea37";
}

.icon-new-setting::before {
    content: "\ea38";
}

.icon-new-tag::before {
    content: "\ea39";
}

.icon-notice::before {
    content: "\ea3a";
}

.icon-ok::before {
    content: "\ea3b";
}

.icon-order::before {
    content: "\ea3c";
}

.icon-question::before {
    content: "\ea3d";
}

.icon-rate::before {
    content: "\ea3e";
}

.icon-reset-default::before {
    content: "\ea3f";
}

.icon-safe::before {
    content: "\ea40";
}

.icon-scale-arrow::before {
    content: "\ea41";
}

.icon-search::before {
    content: "\ea42";
}

.icon-selected::before {
    content: "\ea43";
}

.icon-selected2::before {
    content: "\ea44";
}

.icon-setting::before {
    content: "\ea45";
}

.icon-share-pic::before {
    content: "\ea46";
}

.icon-star::before {
    content: "\ea47";
}

.icon-sub-account::before {
    content: "\ea48";
}

.icon-support::before {
    content: "\ea49";
}

.icon-switch-off::before {
    content: "\ea4a";
}

.icon-switch-on::before {
    content: "\ea4b";
}

.icon-switch::before {
    content: "\ea4c";
}

.icon-telegram::before {
    content: "\ea4d";
}

.icon-theme-switch::before {
    content: "\ea4e";
}

.icon-time-zone::before {
    content: "\ea4f";
}

.icon-transaction-reflash::before {
    content: "\ea50";
}

.icon-twitter::before {
    content: "\ea51";
}

.icon-unchange-rank::before {
    content: "\ea52";
}

.icon-unchecked-round::before {
    content: "\ea53";
}

.icon-unchecked::before {
    content: "\ea54";
}

.icon-user-bg1::before {
    content: "\ea55";
}

.icon-user-bg2::before {
    content: "\ea56";
}

.icon-user-bg3::before {
    content: "\ea57";
}

.icon-user::before {
    content: "\ea58";
}

.icon-visible::before {
    content: "\ea59";
}

.icon-warn-info::before {
    content: "\ea5a";
}

.icon-warn-new::before {
    content: "\ea5b";
}

.icon-warn::before {
    content: "\ea5c";
}

.icon-wechat::before {
    content: "\ea5d";
}

.icon-youtube::before {
    content: "\ea5e";
}

